<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">Articles</h1>
    <a href="/articles/create" class="btn btn-success">New Article</a>

    <section class="mt-4">
      <% articles.forEach(article => { %>
        <div class="card mb-2">
          <div class="card-body">
            <h4 class="card-title">
              <%= article.title %>
            </h4>
            <p class="card-subtitle text-muted mb-2">
              <%= article.createdAt.toLocaleDateString() %>
            </p>
            <div class="card-description mb-2">
              <p>
                <%= article.description %>
              </p>
            </div>

            <a href="/articles/<%= article.slug %> " class="btn btn-secondary">Read More</a>
            <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
              <button class="btn btn-danger" type="submit">Delete</button>
            </form>
          </div>
        </div>
      <% }) %>
    </section>
  </div>
</body>
</html>